<!-- <input type="file" style="display: none;" #cargador>

<button (click)="cargador.click()">Cargar Archivo</button> -->
<app-menu></app-menu>

<div class="contenedor">

    <!-- Ejemplos de Ciclos de vida de componentes -->
    <!-- <div>
    <input type="text" (input)="title = $event.target.value">
    </div>
    <div>
        <input type="checkbox" checked (change)="ocultar = !ocultar">Ocultar
    </div>
    <app-ciclo-de-vida *ngIf="ocultar" [titulo]="title"></app-ciclo-de-vida> -->

    <!-- Esto sirve para la valoracion de las estrellas -->
    <!-- <app-rating (rated)="manejarRated($event)"></app-rating> -->

    <!-- Saca listado de peliculas con animacion de tiempo -->
    
    <router-outlet></router-outlet>
</div>